
.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.post-edit {
  flex-grow: 1; 
}
 .edit-input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}
textarea.edit-input {
  min-height: 6em; 
  resize: vertical; 
}

button{
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-title, .post-body {
  overflow: auto; 
}
.post-body{
  max-height: 8em;
}
.post-title{
  max-height: 4em;
}

.post-author {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center; 
  color: red;
}

.toggle-message{
  display: block;
  font-weight: bold;
}